<ul class="admin-menu">
    <li>
        <a href="@Config["route_admin-posts"]">Show Posts</a>
    </li>
    <li>
        <a href="@Config["route_admin-categories"]"> Show Categories</a>
    </li>
    <li class="admin-menu-not-important">
        <a href="#"> Change Something</a>
    </li>
    <li>
        <a href="/"> Return to Main</a>
    </li>
    <li class="admin-menu-not-important">
        <a href='#'>Enter the Matrix</a>
    </li>
    <li>
        <a href='@Config["route_logout"]'>Log out</a>
    </li>
</ul>