@model CHomeViewModel
<div id="content">
    @await Html.PartialAsync("_Posts", Model.CurrentPosts)
    @if (Model.AllFilteredPostsNum > Model.PostsPerPage)
    {
        @await Html.PartialAsync("_Pagination", Model)
    }
</div>