@model int
<button class="btn-likes-action btn-like-pressed" type="button" like-action="dislike">
    <span class="count-likes">@Model</span>
    <span class="btn-icon btn-icon-default btn-icon-like-pressed">
        <span class="fa fa-heart"></span>
    </span>
    <span class="btn-icon btn-icon-liked">
        <span class="fa fa-heart"></span>
    </span>
</button>
