@{ CFooterMenuM menu = new CFooterMenuM().ParseMenu(Config["option_FooterMenuDict"], Config["option_FooterMenuTitle"]); }
<div class="footer-menu">
    <p>
        &copy;@menu.Year @menu.Title
        @for (int i = 0; i < menu.Count; i++)
        {
            @if (i < menu.Count)
            {
                <span>&nbsp; &bull; &nbsp;</span>
            }
            @foreach (var pair in menu[i])
            {
                @pair.Key 
                @foreach (var pair2 in pair.Value) 
                { 
                    <a href="@pair2.Value">@pair2.Key</a>
                }
            }
        }
    </p>
</div>

