<div class="admin-content">
    <h1>Please sign in as administrator</h1>
    <form method="post" action="#">
        <p>
        <label>
            <span>Login: </span>
            <input type="text" placeholder="login" name="AdminLogin">
        </label>
        </p>
        <p>
            <label>
                <span>Password: </span>
                <input type="password" placeholder="password" name="AdminPass">
            </label>
        </p>
        <p>
            <label>
                <span>Title: </span>
                <input type="submit" value="Log In">
            </label>
        </p>
        <p><input type="hidden" value="log_in" name="action"></p>
    </form>
</div>
