<button class="btn-likes-action btn-like" type="button" like-action="like">
    <span class="btn-icon btn-icon-default">
        <span class="fa fa-heart"></span>
    </span>
    <span class="btn-icon btn-icon-liked">
        <span class="fa fa-heart"></span>
    </span>
</button>