<div class="pagination">
    <span class="current"><a href="?page=1">1</a></span>
    <a href="?page=2">2</a>
    <a href="?page=3">3</a>
    <span class="dotted">…</span>
    <a class="last" href="#">91</a>
    <div class="next">
        <a class="my-icons" href="#">
            <span>next ><i class="fa fa-chevron-right"></i></span>
        </a>
    </div>
</div>