<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@model CPost
<div class="post">
    <h2 class="title">@Model.Title</h2>
    @await Html.PartialAsync("_LikeAction", Model)
    @await Html.PartialAsync("_FavoriteAction", Model)
    <p class="byline"><small>Posted on @Model.CreatedDate.ToShortDateString() by @Model.Author</small></p>
    <div class="entry"><p>@Model.Content</p></div>
</div>
