@using ASP_BrewedCoffee_DB.Models;
<div id="sidebar">
    <ul>
        <li>
            <h2><a class="favorite-sidebar" href="/favorite">Favorite posts</a></h2>
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", new CMenuFactory().Create(new CBuildCategoryStrategy(), CConf.DB.GetOptionsValue("CatMenuTitle"), true))
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", new CMenuFactory().Create(new CBuildArchiveStrategy(), CConf.DB.GetOptionsValue("ArchMenuTitle"), true))
        </li>
    </ul>
</div>
