@model CHomeViewModel
<div id="sidebar">
    <div class="close-sidebar-button-wrapper">
        <button id="close-sidebar-button" class="animated-hamb-button" type="button">✖</button>
    </div>
    <ul>
        @if(@ViewBag.MainTitle != null)
        {
            <li id="home-page-button">
                <a href="/"><h2>Home</h2></a>
            </li>
        }
        <li>
            @*<a asp-route="favorites"><h2 id="favorites">@Config["option_FavoritePosts"]</h2></a>*@
            @*<h2 id="favorites"><a asp-controller="Home" asp-action="Favorites">@Config["option_FavoritePosts"]</a></h2>*@
            <a class="favorite-sidebar" href="@Config["route_favorites"]"><h2 id="favorites">@Config["option_FavoritePosts"]</h2></a>
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Model.CategoriesMenu)
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Model.ArchiveMenu)
        </li>
        <li>
            @await Html.PartialAsync("_FillerSidebarMenu", "Solar System")
        </li>
        <li>
            @await Html.PartialAsync("_FillerSidebarMenu", "Wild Nature")
        </li>
        <li>
            @await Html.PartialAsync("_FillerSidebarMenu", "Showdown")
        </li>
    </ul>
</div>
