@using ASP_BrewedCoffee_DB.Models;
@inject CRoutesService routes_service
<div id="sidebar">
    <ul>
        <li>
            <h2><a class="favorite-sidebar" href="@routes_service.GetRoute("favorites").Template">Favorite posts</a></h2>
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Context.Items["CategoriesMenu"])
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Context.Items["ArchiveMenu"])
        </li>
    </ul>
</div>
