@using ASP_BrewedCoffee_DB.Models;
@inject IConfiguration Config
<div id="sidebar">
    <ul>
        <li>
            <h2 id="favorites"><a class="favorite-sidebar" href="@Config["route_favorites"]">@Config["option_FavoritePosts"]</a></h2>
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Context.Items["CategoriesMenu"])
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", Context.Items["ArchiveMenu"])
        </li>
    </ul>
</div>
