@using ASP_BrewedCoffee_DB.Models
@model CMenu
<h2>@Model.Title</h2>
<ul>
    @foreach (CMenuItem menu_item in Model)
    {
        <li><a href="@menu_item.Url">@menu_item.Title</a> 
            @if (Model.ShowCount)
            {
                <span>(@menu_item.Count)</span>
            }
        </li>
    }
</ul>
