@using ASP_BrewedCoffee_DB.Models;
<div id="sidebar">
    <ul>
        <li>
            <h2><a class="favorite-sidebar" href="/favorite">Favorite posts</a></h2>
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", ViewData["CategoriesMenu"])
        </li>
        <li>
            @await Html.PartialAsync("_SidebarMenu", ViewData["ArchiveMenu"])
        </li>
    </ul>
</div>
