<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using ASP_BrewedCoffee_DB.Models;
@{CPost post = Model;}
<div class="post">
    <h2 class="title">@post.Title</h2>
    <p class="byline"><small>Posted on @post.CreatedDate.ToShortDateString() by @post.Author</small></p>
    <div class="entry">
        <p>@post.Content</p>
    </div>
</div>
