@using ASP_BrewedCoffee_DB.Models;
@{ var posts = (IEnumerable<CPost>)Context.Items["Posts"]; }
@if (posts.Count() == 0)
{
    <h2 class="no-posts">There is no posts in here</h2>
}
@foreach (CPost post in posts)
    @await Html.PartialAsync("_Sketch", post)