@using ASP_BrewedCoffee_DB.Models
@model IEnumerable<CPost>
@{
    ViewData["Title"] = "404 Page";
}
<div class="admin-content">
    <h1>Page is not found =(</h1>
    <a href='/'><input type="button" value="Home page"></a>
</div>
