@using ASP_BrewedCoffee_DB.Models
@model IEnumerable<CPost>
@{
    ViewData["Title"] = "404 Page";
}
<div class="admin-content">
    <h1 class="page-404">Page is not found :(</h1>
    <a class="page-404-button"href='/'>Home page</a>
</div>
