/* Pagination */
.md-pag-pagination {
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 30px;
}
.md-pag-pagination > a {
    font-size: 21px;
    line-height: 50px;
    width: 50px;
    height: 35px;
    display: inline-block;
    text-decoration: none;
    line-height: 1.8;
}
.md-pag-next {
    display: inline-block;
    padding: 0px;
    right: 0;
    line-height: 50px;
    margin-top: 2px;
}
.md-pag-next span {
    font-size: 15px;
    width: auto;
}
.md-pag-prev {
    display: inline-block;
    padding: 0px;
    left: 0;
    line-height: 50px;
    margin-top: 2px;
}
.md-pag-left-arrow {
    padding-right: 5px;
}
.md-pag-right-arrow {
    padding-left: 5px;
}
.md-pag-current {
    border-radius: 5px;
    background: #5D5928;
    font-size: 21px;
    margin: 0 5px;
    color: #EBEBEB;
}
.md-pag-current a {
    color: #EBEBEB;
    text-decoration: none;
}
.md-pag-uncurrent:hover, .md-pag-last:hover, .md-pag-dotted:hover {
    box-shadow: 0px 0px 5px #413C20;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}
.md-pag-dotted {
    font-size: 21px;
    line-height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 700;
}
.md-pag-dotted a {
    text-decoration: none;
}
#md-pag-arrow {
    font-family: cursive;
    line-height: 1.5;
    font-weight: bolder;
}
#md-pag-arrow:hover {
    color: darkkhaki;
}
